# DUPLICAR Y LUEGO MODIFICAR EL ARCHIVO DUPLICADO CON TUS PROPIOS DATOS

# Reemplazar con clave secreta
SECRET_KEY=

# Modo depuración
DEBUG=True

# Hosts permitidos para servir la aplicación
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=focusapp_db_dev.sqlite3


# CORS Headers
# Debe coincidir con la URL del frontend
CORS_ALLOWED_ORIGINS=http://localhost:3000

# Configuración de email
# Para enviar emails (ej. restablecimiento de contraseña, notificaciones)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend # Para desarrollo (muestra emails en consola)
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend # Para producción
# EMAIL_HOST=smtp.your_email_provider.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=True
# EMAIL_HOST_USER=your_email@example.com
# EMAIL_HOST_PASSWORD=your_email_password

# --- Configuración de Media y Static Files (Producción) ---
# --------------------- EJEMPLO CON AWS ---------------------
# URLs base para archivos estáticos y de medios (si los sirves con Django/S3)
# AWS_ACCESS_KEY_ID=your_aws_access_key
# AWS_SECRET_ACCESS_KEY=your_aws_secret_key
# AWS_STORAGE_BUCKET_NAME=your_s3_bucket_name
# AWS_S3_REGION_NAME=your_aws_region
# AWS_S3_CUSTOM_DOMAIN=static.yourdomain.com # Dominio CDN si lo usas